version: '3.8'

services:
  postgres:
    image: postgres:15.3
    environment:
      POSTGRES_DB: timeTrackingDb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 4321
    ports:
      - "6666:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
    driver: local
